// width settings
$site-width: 1440px;
$content-width: 1170px;
$inner-content-width: 970px;

// color settings
$text-color-modified: #01a2a6;
$content-background-white: #ffffff;
$content-background-light-blue: #f2fefe;

// tech
$timing-titles-size: 72px;
$dest-list-title-border-size: 10px;
