.contacts {
  &__title {
    text-align: center;
  }

  &__content {
    display: flex;
    justify-content: space-around;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
  }

  &__input {
    flex-basis: 100%;
    box-sizing: border-box;
    margin: 0;
  }

  &__company,
  &__subject {
    flex-basis: 50%;
  }

  &__btn {
    margin-left: auto;
  }
}
