.dest-list {
  &__title {
    $dest-list-title-border-size: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: $timing-titles-size - $dest-list-title-border-size;
    margin: 0;
    border-bottom: $dest-list-title-border-size #000000 solid;
  }

  &__sort {
    display: flex;
  }

  &__search {
    margin-left: auto;
  }

  &__item {
    display: flex;
  }

  &__additional {
    margin-left: auto;
  }
}
