.main-header {
  background-color: #9ddfd8;
  background-image: url("../img/mountain header.png");
  background-repeat: no-repeat;
  background-position: center;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 738px;

    // strip
    &::after {
      content: "";

      display: block;
      height: 50px;

      font-style: 0;

      background-color: #ffffff;
      opacity: 0.5;
    }
  }

  &__nav {
    display: flex;
  }

  &__menu {
    margin-left: auto;
  }

  &__promo {
    flex-basis: auto;
    align-self: center;
  }
}
